<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=WKC001335054\SQLEXPRESS;Initial Catalog=College;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="sqlConn" connectionString="Data Source=WKC001335054\SQLEXPRESS;Initial Catalog=College;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- ... -->
    <add key="ClientsFilePath" value="filepath"/>
    <!-- ... -->
  </appSettings>
</configuration>