<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=WKC001335054\SQLEXPRESS;Initial Catalog=College;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="sqlConn" connectionString="Data Source=WKC001335054\SQLEXPRESS;Initial Catalog=College;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CRMEntities" connectionString="metadata=res://*/DataModel.CRMModel.csdl|res://*/DataModel.CRMModel.ssdl|res://*/DataModel.CRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WKC001335054\SQLEXPRESS;initial catalog=College;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- ... -->
    <add key="ClientsFilePath" value="filepath" />
    <!-- ... -->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

</configuration>