USE [master]
GO
/****** Object:  Database [College]    Script Date: 03-03-2018 08:39:55 ******/
CREATE DATABASE [College]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'College', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\College.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'College_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\College_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [College].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [College]
GO
/****** Object:  Schema [Trans]    Script Date: 03-03-2018 08:39:55 ******/
CREATE SCHEMA [Trans]
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[PrimaryMailID] [nvarchar](50) NULL,
	[PrimaryPhoneNo] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[IndustryCategoryId] [int] NOT NULL,
	[BillingAddress] [nvarchar](50) NULL,
	[BillingAddress1] [nvarchar](50) NULL,
	[BillingCity] [nvarchar](50) NULL,
	[BillingState] [nvarchar](50) NULL,
	[BillingCountry] [nvarchar](50) NULL,
	[BillingPincode] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](50) NULL,
	[ShippingAddress1] [nvarchar](50) NULL,
	[ShippingCity] [nvarchar](50) NULL,
	[ShippingState] [nvarchar](50) NULL,
	[ShippingCountry] [nvarchar](50) NULL,
	[ShippingPincode] [nvarchar](50) NULL,
	[ContactPersonName] [nvarchar](50) NULL,
	[ContactPersonNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_CustomerDetails] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IndustryCategory]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IndustryCategory](
	[IndustryCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[IndustryCategoryName] [nvarchar](50) NULL,
	[Status] [char](1) NULL,
 CONSTRAINT [PK_IndustryCategory] PRIMARY KEY CLUSTERED 
(
	[IndustryCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuMaster]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuMaster](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [varchar](50) NULL,
	[MenuUrl] [varchar](200) NULL,
	[MenuParentId] [int] NULL,
	[Active] [bit] NULL,
	[ControllerName] [varchar](100) NULL,
	[ActionName] [varchar](100) NULL,
	[IconStyle] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleMenuMapping]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[MenuId] [int] NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAuthentication]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAuthentication](
	[UserAuthID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_UserAuthentication] PRIMARY KEY CLUSTERED 
(
	[UserAuthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](20) NULL,
	[Name] [varchar](100) NULL,
	[RoleId] [int] NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Trans].[LeadSource]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Trans].[LeadSource](
	[LeadSourceID] [int] IDENTITY(1,1) NOT NULL,
	[LeadSourceName] [nvarchar](100) NULL,
	[Status] [char](1) NULL,
 CONSTRAINT [PK_LeadSource] PRIMARY KEY CLUSTERED 
(
	[LeadSourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerDetails] ON 

SET IDENTITY_INSERT [dbo].[CustomerDetails] OFF
SET IDENTITY_INSERT [dbo].[IndustryCategory] ON 

INSERT [dbo].[IndustryCategory] ([IndustryCategoryId], [IndustryCategoryName], [Status]) VALUES (1, N'Education', N'Y')
INSERT [dbo].[IndustryCategory] ([IndustryCategoryId], [IndustryCategoryName], [Status]) VALUES (2, N'Construction', N'Y')
INSERT [dbo].[IndustryCategory] ([IndustryCategoryId], [IndustryCategoryName], [Status]) VALUES (3, N'Manufacturing', N'Y')
SET IDENTITY_INSERT [dbo].[IndustryCategory] OFF
SET IDENTITY_INSERT [dbo].[MenuMaster] ON 

INSERT [dbo].[MenuMaster] ([MenuId], [MenuName], [MenuUrl], [MenuParentId], [Active], [ControllerName], [ActionName], [IconStyle]) VALUES (1, N'Dashboard', N'Home/Dashboard', 0, 1, N'Home', N'Dashboard', N'fa fa-dashboard')
INSERT [dbo].[MenuMaster] ([MenuId], [MenuName], [MenuUrl], [MenuParentId], [Active], [ControllerName], [ActionName], [IconStyle]) VALUES (2, N'Customer', N'#', 0, 1, NULL, NULL, N'fa fa-files-o')
INSERT [dbo].[MenuMaster] ([MenuId], [MenuName], [MenuUrl], [MenuParentId], [Active], [ControllerName], [ActionName], [IconStyle]) VALUES (3, N'New Customer', N'Customer/NewCustomer', 2, 1, N'Customer', N'NewCustomer', NULL)
SET IDENTITY_INSERT [dbo].[MenuMaster] OFF
SET IDENTITY_INSERT [dbo].[RoleMaster] ON 

INSERT [dbo].[RoleMaster] ([RoleId], [Name], [Active]) VALUES (1, N'Normal User', 1)
INSERT [dbo].[RoleMaster] ([RoleId], [Name], [Active]) VALUES (2, N'Admin', 1)
INSERT [dbo].[RoleMaster] ([RoleId], [Name], [Active]) VALUES (3, N'HR', 1)
SET IDENTITY_INSERT [dbo].[RoleMaster] OFF
SET IDENTITY_INSERT [dbo].[RoleMenuMapping] ON 

INSERT [dbo].[RoleMenuMapping] ([Id], [RoleId], [MenuId], [Active]) VALUES (1, 2, 1, 1)
INSERT [dbo].[RoleMenuMapping] ([Id], [RoleId], [MenuId], [Active]) VALUES (2, 2, 2, 1)
INSERT [dbo].[RoleMenuMapping] ([Id], [RoleId], [MenuId], [Active]) VALUES (3, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[RoleMenuMapping] OFF
SET IDENTITY_INSERT [dbo].[UserAuthentication] ON 

INSERT [dbo].[UserAuthentication] ([UserAuthID], [UserID], [UserName], [Password]) VALUES (1, 2, N'John', N'welcome')
SET IDENTITY_INSERT [dbo].[UserAuthentication] OFF
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([Id], [UserId], [Name], [RoleId], [Active]) VALUES (1, N'10001', N'Rahul', 1, 1)
INSERT [dbo].[UserMaster] ([Id], [UserId], [Name], [RoleId], [Active]) VALUES (2, N'10002', N'John', 2, 1)
INSERT [dbo].[UserMaster] ([Id], [UserId], [Name], [RoleId], [Active]) VALUES (3, N'10003', N'Mike', 3, 1)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [NonClusteredIndex-20180215-162259]    Script Date: 03-03-2018 08:39:55 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20180215-162259] ON [Trans].[LeadSource]
(
	[LeadSourceName] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDetails_IndustryCategory] FOREIGN KEY([IndustryCategoryId])
REFERENCES [dbo].[IndustryCategory] ([IndustryCategoryId])
GO
ALTER TABLE [dbo].[CustomerDetails] CHECK CONSTRAINT [FK_CustomerDetails_IndustryCategory]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddNewCustomer]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_AddNewCustomer]  
(  
    @CustomerID int ,
	@CustomerName nvarchar(50),
	@PrimaryMailID nvarchar(50) ,
	@PrimaryPhoneNo nvarchar(50) ,
	@Fax nvarchar(50) ,
	@Website nvarchar(50) ,
	@IndustryCategoryId int  ,
	@BillingAddress nvarchar(50) ,
	@BillingAddress1 nvarchar(50) ,
	@BillingCity nvarchar(50) ,
	@BillingState nvarchar(50) ,
	@BillingCountry nvarchar(50) ,
	@BillingPincode nvarchar(50) ,
	@ShippingAddress nvarchar(50) ,
	@ShippingAddress1 nvarchar(50) ,
	@ShippingCity nvarchar(50) ,
	@ShippingState nvarchar(50) ,
	@ShippingCountry nvarchar(50) ,
	@ShippingPincode nvarchar(50) ,
	@ContactPersonName nvarchar(50) ,
	@ContactPersonNo nvarchar(50)
)  
as  
BEGIN  
IF NOT EXISTS(SELECT 1 FROM [dbo].[CustomerDetails] WHERE CustomerID=@CustomerID  )
  INSERT INTO [dbo].[CustomerDetails]
           ([CustomerName]
           ,[PrimaryMailID]
           ,[PrimaryPhoneNo]
           ,[Fax]
           ,[Website]
           ,[IndustryCategoryId]
           ,[BillingAddress]
           ,[BillingAddress1]
           ,[BillingCity]
           ,[BillingState]
           ,[BillingCountry]
           ,[BillingPincode]
           ,[ShippingAddress]
           ,[ShippingAddress1]
           ,[ShippingCity]
           ,[ShippingState]
           ,[ShippingCountry]
           ,[ShippingPincode]
           ,[ContactPersonName]
           ,[ContactPersonNo])
     VALUES
           (@CustomerName
           ,@PrimaryMailID
           ,@PrimaryPhoneNo
           ,@Fax
           ,@Website
           ,@IndustryCategoryId
           ,@BillingAddress
           ,@BillingAddress1
           ,@BillingCity
           ,@BillingState
           ,@BillingCountry
           ,@BillingPincode
           ,@ShippingAddress
           ,@ShippingAddress1
           ,@ShippingCity
           ,@ShippingState
           ,@ShippingCountry
           ,@ShippingPincode
           ,@ContactPersonName
           ,@ContactPersonNo) 
End   


GO
/****** Object:  StoredProcedure [dbo].[usp_AddNewIndustryCategory]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_AddNewIndustryCategory]  
(  
   @IndustryCategoryId int,  
   @IndustryCategoryName nvarchar (50),  
   @Status varchar (1)  
)  
as  
BEGIN  
IF NOT EXISTS(SELECT 1 FROM IndustryCategory WHERE IndustryCategoryId=@IndustryCategoryId  )
   Insert into IndustryCategory values(@IndustryCategoryName,@Status)  
End   

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteCustomer]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[usp_DeleteCustomer]
(
@CustomerID int
)
as
begin
Delete from [dbo].[CustomerDetails] where CustomerID=@CustomerID
End 

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteIndustryCategory]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_DeleteIndustryCategory]
(
@IndustryCategoryId int
)
as
begin
Delete from [dbo].[IndustryCategory] where IndustryCategoryId=@IndustryCategoryId
End 
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllCustomer]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[usp_GetAllCustomer]  
as  
begin  
SELECT [CustomerID]
      ,[CustomerName]
      ,[PrimaryMailID]
      ,[PrimaryPhoneNo]
      ,[Fax]
      ,[Website]
      ,[IndustryCategoryId]
      ,[BillingAddress]
      ,[BillingAddress1]
      ,[BillingCity]
      ,[BillingState]
      ,[BillingCountry]
      ,[BillingPincode]
      ,[ShippingAddress]
      ,[ShippingAddress1]
      ,[ShippingCity]
      ,[ShippingState]
      ,[ShippingCountry]
      ,[ShippingPincode]
      ,[ContactPersonName]
      ,[ContactPersonNo]
  FROM [dbo].[CustomerDetails]
End  

GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllIndustryCategory]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_GetAllIndustryCategory]  
as  
begin  
select [IndustryCategoryId]
      ,[IndustryCategoryName]
      ,[Status]
 from [dbo].[IndustryCategory]
End  
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCustomerByID]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[usp_GetCustomerByID]
(
@CustomerID int
)  
as  
begin  
SELECT [CustomerID]
      ,[CustomerName]
      ,[PrimaryMailID]
      ,[PrimaryPhoneNo]
      ,[Fax]
      ,[Website]
      ,[IndustryCategoryId]
      ,[BillingAddress]
      ,[BillingAddress1]
      ,[BillingCity]
      ,[BillingState]
      ,[BillingCountry]
      ,[BillingPincode]
      ,[ShippingAddress]
      ,[ShippingAddress1]
      ,[ShippingCity]
      ,[ShippingState]
      ,[ShippingCountry]
      ,[ShippingPincode]
      ,[ContactPersonName]
      ,[ContactPersonNo]
  FROM [dbo].[CustomerDetails] WHERE CustomerID=@CustomerID
End  


GO
/****** Object:  StoredProcedure [dbo].[usp_GetMenuData]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_GetMenuData]
@UserId int   --user id as input parameter
as
begin                                                                    
                select mm.MenuID MID, mm.MenuName,mm.MenuURL,mm.MenuParentID,mm.ActionName,mm.ControllerName,mm.IconStyle from
                UserMaster um                                                       
                inner join RoleMenuMapping rm on um.RoleID=rm.RoleID                                                              
                inner join MenuMaster mm on mm.MenuId=rm.MenuID                                                   
                inner join RoleMaster br on br.RoleId =rm.RoleID                                                 
                where um.Id = @UserId  and rm.Active=1                -- add more active condition if required                                             
end

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCustomer]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_UpdateCustomer]  
(  
    @CustomerID int ,
	@CustomerName nvarchar(50),
	@PrimaryMailID nvarchar(50) ,
	@PrimaryPhoneNo nvarchar(50) ,
	@Fax nvarchar(50) ,
	@Website nvarchar(50) ,
	@IndustryCategoryId int  ,
	@BillingAddress nvarchar(50) ,
	@BillingAddress1 nvarchar(50) ,
	@BillingCity nvarchar(50) ,
	@BillingState nvarchar(50) ,
	@BillingCountry nvarchar(50) ,
	@BillingPincode nvarchar(50) ,
	@ShippingAddress nvarchar(50) ,
	@ShippingAddress1 nvarchar(50) ,
	@ShippingCity nvarchar(50) ,
	@ShippingState nvarchar(50) ,
	@ShippingCountry nvarchar(50) ,
	@ShippingPincode nvarchar(50) ,
	@ContactPersonName nvarchar(50) ,
	@ContactPersonNo nvarchar(50)
)  
as  
BEGIN  
IF EXISTS(SELECT 1 FROM [dbo].[CustomerDetails] WHERE CustomerID=@CustomerID  )
  UPDATE  [dbo].[CustomerDetails] SET
           
		    [CustomerName]=@CustomerName
           ,[PrimaryMailID]=@PrimaryMailID
           ,[PrimaryPhoneNo]=@PrimaryPhoneNo
           ,[Fax]=@Fax
           ,[Website]=@Website
           ,[IndustryCategoryId]=@IndustryCategoryId
           ,[BillingAddress]=@BillingAddress
           ,[BillingAddress1]=@BillingAddress1
           ,[BillingCity]=@BillingCity
           ,[BillingState]=@BillingState
           ,[BillingCountry]=@BillingCountry
           ,[BillingPincode]=@BillingPincode
           ,[ShippingAddress]=@ShippingAddress
           ,[ShippingAddress1]=@ShippingAddress1
           ,[ShippingCity]=@ShippingCity
           ,[ShippingState]=@ShippingState
           ,[ShippingCountry]=@ShippingCountry
           ,[ShippingPincode]=@ShippingPincode
           ,[ContactPersonName]=@ContactPersonName
           ,[ContactPersonNo]=@ContactPersonNo
		   WHERE
		    CustomerID=@CustomerID

    
End   

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateIndustryCategory]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_UpdateIndustryCategory] 
(
@IndustryCategoryId int,
@IndustryCategoryName nvarchar (50),
@Status char (1)

)
as
begin
Update [dbo].[IndustryCategory]
set IndustryCategoryName=@IndustryCategoryName,

Status=@Status
where IndustryCategoryId=@IndustryCategoryId
End 
GO
/****** Object:  StoredProcedure [dbo].[usp_ValidateUser]    Script Date: 03-03-2018 08:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[usp_ValidateUser]
(
@UserName varchar(50),
@Password varchar(50)
)  
as  
begin  
SELECT[UserAuthID]
      ,[UserID]
      ,[UserName]
      ,[Password]
  FROM [dbo].[UserAuthentication] WHERE UserName=@UserName AND [Password]=@Password
End  


GO
USE [master]
GO
